#docker compose que concentra todo lo necesario exclusivamente para
#la tarea Avanzada 5.
services: 
    balanceador-nginx:
        image: jorgelpz-nginxtarea5-image:p2
        container_name: balanceador-nginx
        ports:
        - "9090:80"
        volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf
        networks:
            red_web:
                #ip que ocupa dentro de la subred red_web
                ipv4_address: 192.168.10.54 

    #############################################################

    # cadvisor:
    #     image: gcr.io/cadvisor/cadvisor:v0.47.2
    #     container_name: cadvisor
    #     restart: unless-stopped
    #     privileged: true
    #     ports:
    #     - "8080:8080"
    #     volumes:
    #     - /:/rootfs:ro
    #     - /var/run:/var/run:rw
    #     - /sys:/sys:ro
    #     - /var/lib/docker/:/var/lib/docker:ro
    #     - /dev/disk/:/dev/disk:ro

    #############################################################

    web1:
        image: jorgelpz-apache-image:p2
        container_name: web1
        ports:
        - "8081:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.2 
            red_servicios:
                ipv4_address: 192.168.20.2 

    web2:
        image: jorgelpz-apache-image:p2
        container_name: web2
        ports:
        - "8082:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.3 
            red_servicios:
                ipv4_address: 192.168.20.3 

    web3:
        image: jorgelpz-apache-image:p2
        container_name: web3
        ports:
        - "8083:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.4 
            red_servicios:
                ipv4_address: 192.168.20.4 

    web4:
        image: jorgelpz-apache-image:p2
        container_name: web4
        ports:
        - "8084:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.5 
            red_servicios:
                ipv4_address: 192.168.20.5 

    web5:
        image: jorgelpz-apache-image:p2
        container_name: web5
        ports:
        - "8085:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.6 
            red_servicios:
                ipv4_address: 192.168.20.6 

    web6:
        image: jorgelpz-apache-image:p2
        container_name: web6
        ports:
        - "8086:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.7 
            red_servicios:
                ipv4_address: 192.168.20.7 

    web7:
        image: jorgelpz-apache-image:p2
        container_name: web7
        ports:
        - "8087:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.8 
            red_servicios:
                ipv4_address: 192.168.20.8 

    web8:
        image: jorgelpz-apache-image:p2
        container_name: web8
        ports:
        - "8088:80"
        volumes:
        - ./web_jorgelpz:/var/www/html
        networks:
            red_web:
                ipv4_address: 192.168.10.9 
            red_servicios:
                ipv4_address: 192.168.20.9 

networks:
    red_web:
        external: true
    red_servicios:
        external: true